<footer class="footer">
    <nav class="footer__menu"> 
      <h2 class="footer__logo">Chess power</h2>
      <ul class="footer__list">
        <li class="footer__option"><a class="footer__link" href="index.html">Inicio</a></li>
        <li class="footer__option"><a class="footer__link" href="miembros.html"> Miembros </a></li>
        <li class="footer__option"><a class="footer__link" href="info.html"> Información </a></li>
        <li class="footer__option"><a class="footer__link" href="formulario.html"> Contacto </a></li>
      </ul>
  
  <div class="footer__networks">
  <a href="#" class ="fa-brands fa-facebook"  style="color: #ffffff;"></a>
  <a href="#" class ="fa-brands fa-twitter"  style="color: #ffffff;"></a>
  <a href="#"class ="fa-brands fa-youtube"  style="color: #ffffff;"></a>
  </div>
  </nav>
  </footer>